@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
	margin-left: 2%;
}

h2 {
	font-size: 1.75em;
	margin-left: 2%;
}

h3 {
	font-size: 1.5em;
	margin-left: 2%;
}

p {
	margin-left: 2%;
}

.album-art {
	float: left;
	width: 100px;
	height: auto;
	margin: 4% 3% 4% 2%;
	border: 2px solid maroon;
	padding: 2%;

}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	margin: 0 0 0 2%;
}

.record-label {
	color: red;
	font-style: italic;
}

.track-list {

}

#about-photo {
	float: left;
	border: 2px solid maroon;
	margin: 1% 1% 2% 2%;
	padding: 2%;
}

#copyright {
	color: red;
	font-size: 75%
}

#section-about, #section-discography, #section-equipment {
	border: 2px solid maroon;
	margin: 0 0 2% 2%
}

#text-intro {
	border: 2px solid red;
	color: red;
	padding: 2%;
	background-color: #212129;
}
